<div class="loading-container" data-ng-include=" '/nrm/static/views/partials/loading.html' "></div>
<div class="navbar {{settings.fixed.navbar ? 'navbar-fixed-top' : ''}}" data-ng-include=" '/nrm/static/views/partials/navbar.html' "></div>
<div class="main-container container-fluid">
    <div class="page-container">
        <div class="page-sidebar {{settings.fixed.sidebar ? 'sidebar-fixed' : ''}}" id="sidebar" data-ng-include=" '/nrm/static/views/partials/sidebar.html' "></div>
        <div class="page-content">
            <div class="page-breadcrumbs {{settings.fixed.breadcrumbs ? 'breadcrumbs-fixed' : ''}}" data-ng-include=" '/nrm/static/views/partials/breadcrumbs.html' "></div>
            <div class="page-header position-relative {{settings.fixed.header ? 'page-header-fixed' : ''}}" data-ng-include=" '/nrm/static/views/partials/header.html' "></div>
            <div class="page-body" ui-view></div>
        </div>
    </div>
</div>