<div style="background-color: #55379b; color: white;">
    <div class="error-header"> </div>
    <div class="container ">
        <section class="error-container text-center">
            <h1>Coming Soon...</h1>
            <div class="error-divider">
                <p class="description">This page is under development</p>
            </div>
            <a ui-sref="app.templates" class="return-btn"><i class="fa fa-home"></i>Home</a>
        </section>
    </div>
</div>

<!--<div class="row" ng-controller="ReportsController">
    <div class="col-xs-12">
        <div class="horizontal-space"></div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="widget">
                    <div class="widget-header">
                        <span class="widget-caption">Bar Chart</span>

                        <div class="widget-buttons">
                            <a href="" widget-collapse></a>
                            <a href="" widget-dispose></a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="chartcontainer">
                            <canvas id="bar" height="300" width="450"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
