<div class="col-lg-12 col-sm-12 col-xs-12" ng-controller="TemplatesController">
    <div class="widget">
        <div class="widget-header bg-themeprimary">
            <span class="widget-caption"><b>Select a product to view Templates</b></span>

            <div class="widget-buttons">
                <a href="" widget-maximize></a>
                <a href="" widget-collapse></a>
                <a href="" widget-dispose></a>
            </div>
        </div>
        <div class="widget-body no-padding">
            <div>
                    <accordion is-open="false" close-others="false">
                        <accordion-group heading="Products" is-open="true">
                            <div ag-grid="gridOptionsTemplatesList" class="ag-fresh ag-basic" style="width: 100%;height: 450px;"></div>
                        </accordion-group>
                </accordion>
            </div>
        </div>



    </div>
</div>






