<div ng-controller="auditTrailController" class="reportsForm" >
    <div>
        <div class="hrMargin headerLabel">
            <span class="headerLabel">Report</span>
            <hr class="hrStyle">
        </div>
        <div class="contactsButtonContainerDiv">
            <div class="btnDiv"  align="left">
                <button class="btn" style="margin-right: 5px" ng-disabled="false"
                        ng-click="generateReport()">Generate Report
                </button>
            </div>
        </div>
    </div>

</div>
