<div class="modal-header">
	<h3>Contract List</h3>
</div>
<div class="modal-body">
	Select One:
	<div ng-form="contractSelectionForm">
		<label ng-repeat="item in items"> 
		<input type="radio" name="selectedContractID" ng-click="itemSelectedFun(item)" ng-value="{{ item.id }}" ng-model="selectedContract" style="margin: 0px" required /> {{item.refNumber }} ({{ item.id }}) <br /> 
		<!--<input type="checkbox" ng-click="itemSelectedFun(item)" ng-true-value={{item.id}}> {{ item.refNumber }} ({{ item.id }}) <br/>--> <!--<a ng-click="itemSelectedFun(item)">{{ item.refNumber }} ({{ item.id }})</a>-->
		</label>
	</div>
	<!--Selected: <b>{{ selectedContractID }}</b>-->
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()"	ng-disabled="contractSelectionForm.$valid">OK</button>
	<!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
</div>